<div class="conteiner">
  <div class="conteiner_small-card">
    <div class="small-card_photo">
     <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
  
      alt=""
      srcset="">
    </div>
    <div class="conteiner-notice">
      <div class="small-card_title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
      </div>
      <div class="small-card_description">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin maximus dictum lacus.
        </p>
      </div>
    </div>
  </div>
</div>

