.conteiner {
  display: flex;
  flex-direction: column;
}
.conteiner::after {
  content: '';
  height: 2px;
  display: block;
  background: linear-gradient(to right, #111, rgba(255, 255, 255, 0.263), #111);
  margin: 1rem 0;
}

.conteiner_small-card {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.conteiner-notice {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.small-card_title > h1{
  font-size: 20px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.small-card_description > p{
  color: #333;
}

.small-card_photo > img {
  width: 200px;
  max-height: 100px;
  min-width: 100px;
}
