/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  background-color: #111111;
}

body {
  height: 100vh;
  width: 100%;
  padding: 3rem;
}

